html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

#wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#wrapper > div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.mapLabel {
	text-align: center;
}

.mapLabel p {
	white-space: nowrap;
	display: inline-block;
	margin: 0 0 0 0;
	position: relative;
	top: -18px;
	color: #0099ff;
}

.leaflet-touch .leaflet-bar {
	border: 1px solid #aaa;
}

form {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 2000;
}

	.autocomplete {
		position: relative;
		display: inline-block;
		font-size: 15px;
	}

		input {
			border: 1px solid #aaa;
			border-radius: 2px;
			box-sizing: border-box;
			background-color: #fff;
			padding: 6px;
			outline: none;
		}
			input[type=text] {
				width: 100%;
			}
			input[type=button] {
				background-color: #0099ff;
				color: #fff;
			}
		.autocomplete-items {
			position: absolute;
			border: 1px solid #ddd;
			border-bottom: none;
			border-top: none;
			box-sizing: border-box;
			z-index: 99;
			top: 100%;
			left: 0;
			right: 0;
		}
		.autocomplete-items div {
			padding: 6px;
			cursor: pointer;
			background-color: #fff; 
			border-bottom: 1px solid #ddd;
			box-sizing: border-box;
		}
		.autocomplete-items div:hover {
			background-color: #eee; 
		}
		.autocomplete-active {
			background-color: #0099ff !important; 
			color: #fff; 
		}