html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	line-height: 1.3em;
}

#wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#wrapper > div {
	position: absolute;
}

#map {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.mapLabel {
	text-align: center;
}

.mapLabel p {
	white-space: nowrap;
	display: inline-block;
	margin: 0 0 0 0;
	position: relative;
	top: -18px;
}

.leaflet-touch .leaflet-bar {
	border: 1px solid #aaa;
}

#header {
	margin: 0;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 10px;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
}

	#header h1 {
		margin: 0;
		font-size: 22px;
	}

	#header p {
		margin: 5px 40px 5px 0px;
		font-size: 12px;
	}
		@media (min-width: 450px) {
			#header p {
				margin-right: 0;
				max-width: 380px;
				border-bottom-right-radius: 60px;
			}
		}

	.autocomplete {
		position: relative;
		display: inline-block;
		font-size: 13px;
	}

		.autocomplete input {
			border: 1px solid #aaa;
			border-radius: 2px;
			box-sizing: border-box;
			background-color: #fff;
			padding: 6px;
			outline: none;
			width: 100%;
			font-size: 13px;
		}
		.autocomplete-items {
			position: absolute;
			border: 1px solid #ddd;
			border-bottom: none;
			border-top: none;
			box-sizing: border-box;
			z-index: 99;
			top: 100%;
			left: 0;
			right: 0;
		}
		.autocomplete-items div {
			padding: 6px;
			cursor: pointer;
			background-color: #fff;
			border-bottom: 1px solid #ddd;
			box-sizing: border-box;
		}
		.autocomplete-items div:hover {
			background-color: #eee;
		}
		.autocomplete-active {
			background-color: #999 !important;
			color: #fff;
		}

#footer {
	margin: 0;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 10px 10px 20px 10px;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	font-size: 12px;
	line-height: 1em;
	color: rgba(0,0,0,0.5);
}

@media (min-width: 550px) {
	#footer {
		margin-right: 0;
		width: 270px;
		padding: 5px;
		border-top-right-radius: 20px;
	}
}
